* {
  margin: 0;
  padding: 0;
}
.card-body {
  background-color: rgb(255, 255, 255);
  border: 0px;
  border-radius: 5px;
  z-index: 0;
  width: 100%;
  transition: all 0.3s ease-in;
}
.card-body:hover {
  box-shadow: 0px 0px 20px;
}
.image {
  width: 100%;
  height: 500px;
  border: 0px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.card-image {
  position: relative;
}
.card-image:hover > .image-layer {
  opacity: 1;
  .icons {
    opacity: 1;
    top: 50%;
  }
}
.image-layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(31, 51, 168, 0.5);
  width: 100%;
  height: 100%;
  z-index: 123;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.image-layer .icons {
  position: absolute;
  top: 70%;
  left: 35%;
  border: 0px;
  padding: 10px;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.icons i {
  padding: 20px;
  border: 0px;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  background-color: #006fff;
  transition: all 0.2s ease-in;
}
.icons i:hover {
  background-color: #0856bd;
}

.emailIcon {
  position: fixed;
  top: 87%;
  left: 90%;
  transition: all 0.3s ease-in;
}
.emailIcon button {
  padding: 20px;
  background-color: #d32809;
  color: #fff;
  border: 0;
  border-radius: 50%;
}

.emailContanier {

  position: absolute;
  top: -90%;
  left: -210%;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.emailContanier2 {
  position: absolute;
  top: -180%;
  left: -210%;
  opacity: 1;
  transition: all 0.3s ease-in;
}
